<h1>Pages info</h1>
<%#<p>Find me in app/views/pages/info.html.erb</p>%>
<div class="col-md-8"> 
  <div class="extraText">
      <p>Hello, this is Aleks idea info page!</p><hr>
      <p>This page is for you that don't have a clow on haw to make a idea.</p><hr>
      <p>Start by geting your flow of thinking start by asking yourself, haw do I do samthing t.ex High Five.</p><hr>
      <p>And now haw do I make that in step by step questions, like do I clench my fist or do I use your fot?</p><hr>
      <p>That is haw an idea starts from a random subject and evlolv it into a phenix.</p><hr>
      <p>Bit random but do you know haw the legend of the phenix is born, from ashes of it self when!</p> <hr>
      <p>A bit like any idea, you use all your resorses and knowleg and burn them into one pile of ashe,</p><hr>
      <p>AND FROM THE ASHES THE PHENIX RISES AND SORS TO ALL TO SEE!</p>
      <b>Don't forget ideas is for no one and evry one! :P</b>
  </div>

  <div>
    <h2>
      <%= link_to 'Now, Try Yourself', new_idea_path, class: "nav-link" %>
    </h2>
    <h3>Great fortune to you seker!</h3>
  </div>
  <div class="col-md-5">
    <b class="discText">Don't take my words literaly<b>
  </div>
</div>
